// scss-docs-start theme-color-variables Customize your color option here
:root,
[data-bs-theme=light] {
  --bs-body-bg: #ffffff;
  --bs-white-bg: #ffffff;
  --bs-text-white: #ffffff;
  --bs-primary: #04a379;
  --bs-primary-bg-subtle: #e5f6f2;
  --bs-primary-bg-dark: #038f6a;
  --bs-secondary: #f3f7f8;
  --bs-secondary-bg-subtle: #f7f8f9;
  --bs-success: #50cd89;
  --bs-success-bg-subtle: #e8fff3;
  --bs-success-bg-dark: #48c581;
  --bs-info: #009ef7;
  --bs-info-bg-subtle: #f1faff;
  --bs-info-bg-dark: #0591e0;
  --bs-warning: #f8b200;
  --bs-warning-bg-subtle: #fff4d9;
  --bs-warning-bg-dark: #e9a801;
  --bs-danger: #f1416c;
  --bs-danger-bg-subtle: #ffeff4;
  --bs-danger-bg-dark: #ed3b67;
  --bs-light: #f4f5f7;
  --bs-dark: #192d35;
  --bs-cyan: #00896f;
  --bs-cyan-bg-subtle: #dcfff8;
  --bs-cyan-bg-dark: #047963;
  --bs-purple: #6363f5;
  --bs-purple-bg-subtle: #e7edff;
  --bs-purple-bg-dark: #5b5bed;
  --bs-primary-rgb: 4, 163, 121;
  --bs-secondary-rgb: 243, 247, 248;
  --bs-success-rgb: 80, 205, 137;
  --bs-info-rgb: 0, 158, 247;
  --bs-warning-rgb: 248, 178, 0;
  --bs-danger-rgb: 241, 65, 108;
  --bs-cyan-rgb: 0, 137, 111;
  --bs-purple-rgb: 99, 99, 245;
  --bs-light-rgb: 244, 245, 247;
  --bs-dark-rgb: 25, 45, 53;
  --bs-primary-2: #00896f;
  --body-font-family: 'Jost', sans-serif;
  --heading-font-family: 'Jost', sans-serif;
  --bs-body-color: #455065;
  --paragraphColor: #455065;
  --headingColor: #05264e;
  --text-muted: #768b9b;
  --bs-nav-color: #022f5d;
  --bs-muted2-color: #869ab8;
  --fontSize: 15px;

  --bs-navtext: #022f5d;
  --bs-navarrow: #445b6f;
  --bs-border-color: #eaedf2;
  --bs-list-group-active-bg: #26ae61;
  --bs-list-group-active-border-color: #26ae61;
  --bs-primary-border-subtle: #e0fff3;
  --bs-secondary-border-subtle: #e0e6ec;
  --bs-success-border-subtle: #dbfff2;
  --bs-info-border-subtle: #d8f4ff;
  --bs-warning-border-subtle: #ffecdd;
  --bs-purple-border-subtle: #dedeff;
  --bs-cyan-border-subtle: #cff1e9;
  --bs-danger-border-subtle: #ffe0e2;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-link-color: #26ae61;
  --bs-link-color-rgb: 38, 174, 97;
  --bs-link-hover-color: #1fa559;
  --bs-link-hover-color-rgb: 31, 165, 89;

}

// Import Font Family
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap');